In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data=pd.read_csv("StudentsPerformance.csv")
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

# 1. Find out how many males and females participated in the test.

In [25]:
m=data[data.gender == 'male']
print("Number of Male Participants =",m['gender'].count())
f=data[data.gender == "female"]
print("Number of Female Participants =",f['gender'].count())

Number of Male Participants = 482
Number of Female Participants = 518

# 2. What do you think about the students' parental level of education?

In [29]:
#finding the value counts of items under column "parental level of education"
data["parental level of education"].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [ ]:
# Majority of the parental levels of education were 'some college' with a count of 226
# The least number of parents come under master's degree with a count of 59.

# 3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course

In [ ]:
#based on Gender

In [36]:
avg1=data.groupby("gender")["math score"].mean()
avg1

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [ ]:
#Males score the most on average for math

In [37]:
avg2=data.groupby("gender")["reading score"].mean()
avg2

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [ ]:
#Females score the most on average for reading

In [38]:
avg3=data.groupby("gender")["writing score"].mean()
avg3

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

# 4. What do you think about the scoring variation for math, reading and writing
based on
● Gender
● Test preparation course

# 5. The management needs your help to give bonus points to the top 25% of
students based on their maths score, so how will you help the management
to achieve this.